.detail {
  display: flex;
  margin-top: 20px;

  .poster {
    position: relative;
    margin-right: 20px;

    img {
      border: 1px solid #ddd;
      border-radius: 2%;
    }

    .favorite {
      position: absolute;
      top: 15px;
      right: 15px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 50px;
      color: #f3d61c;
      padding: 5px;
      border-radius: 50%;
      text-shadow: 0 0 5px rgba(0,0,0,0.3px);
    }
  }

  .content {
    display: flex;

    .title {
      color: #8d2d37;
      font-size: 2rem;
      margin-bottom: 20px;

      b {
        margin-right: 10px;
      }
    }

    .subtitle {
      margin-bottom: 20px;

      span {
        display: inline-block;
        line-height: 1.5rem;

        &.rate {
          font-weight: bold;
          color: #8d2d37;
          padding: 0 7px;
          border: 2px solid #8d2d37;
          border-radius:  10%;
        }

        &+span {
          &:before {
            content: '•';
            margin: auto 5px;
          }
        }
      }
    }

    .overview {
      margin-bottom: 20px;

      h3 {
        color: #8d2d37;
      }
    }

    .extras {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        display: block;
        flex-grow: 1;
        flex-shrink: 0;
        width: 33.33%;
        margin-bottom: 20px;

        label {
          color: #8d2d37;
          font-weight: bold;
        }

        * {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .detail {
    flex-direction: column;

    .poster {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;

      .favorite {
        right: 50px;
      }
    }

    .content {
      .extras {
        div {
          width: 50%;
        }
      }
    }
  }
}