$border-radius: 10px;

.pagination {
  display: inline-block;
  font-size: 12px;

  ul {
    display: flex;
    padding-left: 0;
    list-style: none;

    li {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      user-select: none;
      cursor: pointer;
      color: #717171;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-left: 1px solid #ddd;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border-right: 1px solid #ddd;
      }

      &.active {
        border-bottom: 2px solid #8d2d37;
        color: #000;
      }
    }
  }
}