.home {
  .hero {
    flex: 1;
    flex-direction: column;
    background: url('./assets/hero-img-bg.jpg');
    background-size: cover;
    margin-bottom: 20px;
    padding: 40px;
    border-bottom: 1px solid #8d2d37;

    .text {
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
      color: #fff;
    }
  }
}