.result-item {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  color: #333;
  padding: 0;
  overflow: hidden;

  .thumb {
    margin-right: 10px;
    width: 80px;
    background: #e8e8e8;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .desc {
    flex: 1;
    position: relative;

    h3 {
      color: #8d2d37;
    }
  }
}