@import "../../styles/index.scss";

.wrapper {
  width: 100%;
  will-change: auto;
  transition: padding .15s;
  background-color: #F5F8FB;
}

.content {
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: #888888;
  padding: 50px;

  i {
    color: #4F8AF2;
    font-style: normal;
  }
}
