.header {
  padding: 20px;
  background: #8d2d37;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    display: inline-block;
    user-select: none;
  }

  h1 {
    display: inline-block;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #fff;
  }

  .favorite-icon {
    padding: 5px;
    border: 2px solid #f3d61c;
    border-radius: 50%;
    font-size: 20px;
    color: #f3d61c;
  }
}